body {
    background-color: #ffc9ee;
    color: #333333;
    font-family: 'Raleway', sans-serif;
}
#mapid {
    height: 70vh; /* vh=viewport height für prozentuale Bildschirmhöhe */
}

/* Schrift für Leaflet Karten Popup */
.leaflet-popup-content-wrapper {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: #333333;
}